{% extends "layout.html" %}
{% block body %}
<br>
<br>
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Education</h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="icon-box">
          <i class="bi bi-briefcase"></i>
          <h4>Post Graduate Diploma in Big Data Analytics</h4>
          <p><strong>College</strong>:   CDAC,Pune.<br>
            <strong>Percentage</strong>: 76.36%<br>
            <strong>Skills</strong> :   Java, Python, SQL, MongoDB, Machine Learning , Big Data, Tableau.<br>
            <strong>Duration</strong>:  Sept 2022 to March 2023</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="bi bi-card-checklist"></i>
          <h4>Data Science pro program</h4>
          <p><strong>College</strong>:   AlmaBetter, Banglore.<br>
            <strong>Percentage</strong>: 75%<br>
            <strong>Skills</strong> :   Machine Learning, Stastics, ANN, CNN, RNN.<br>
            <strong>Duration</strong>:  Sept 2021 to Jan 2022</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-bar-chart"></i>
          <h4>Electrical Engineering</h4>
          <p><strong>College</strong>:   Savitribai Phule Pune University.<br>
            <strong>Percentage</strong>: 64.50%<br>
            <strong>Skills</strong> :   Electrical and Electronics Engineering, PLC, SCADA.<br>
            <strong>Duration</strong>:  Jun 2016 to May 2020</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-binoculars"></i>
          <h4>HSC</h4>
          <p><strong>College</strong>:   Moolji Jaitha College, Jalgaon.<br>
            <strong>Percentage</strong>: 63.36%<br>
            <strong>Skills</strong> :   Electronics, Physics, Mathematics, Chemistry.<br>
            <strong>Duration</strong>:  Jun 2015 to March 2016</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-calendar4-week"></i>
          <h4>SSC</h4>
          <p><strong>School</strong>:   A. T. Zambre Secondary School, Jalgaon.<br>
            <strong>Percentage</strong>: 87.60%<br>
            <strong>Skills</strong> :   General Science<br>
            <strong>Duration</strong>:  Jun 2013 to March 2014</p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Services Section -->

{% endblock %}
